<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="menu_block">
        <div class="container_12">
            <div class="grid_12">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li><a href="home.html">Home</a></li>
                        <li class="current"><a href="about">About</a></li>
                        <li><a href="cars">Cars</a></li>//dynamic pages
                        <li><a href="services">Services</a></li>
                        <li><a href="contacts">Contacts</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container_12">
        <div class="grid_12">
            <h1>
                <a href="home.html">
                    <img src="images/logo.png" alt="Your Happy Family">
                </a>
            </h1>
        </div>
    </div>
    <div class="clear"></div>
</header>
</body>
</html>